@import "./mixins";
@import "./vars";

.event_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;

  .warning_text {
    padding: 20px 40px 0 40px;
  }

  h1 {
    color: $color-title;
  }

  input {
    min-width: 300px;
    text-align: center;
  }

  div {
    margin: 0;
  }

  label {
    color: $color-title;
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }

  .button_container {
    display: flex;
    gap: 20px;
  }

  .countryCode {
    display: flex;
    flex-direction: column;

    &:disabled {
      background-color: $grey-one;
      border-color: $grey-three;
    }

    select {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      text-align: center;
      border-radius: 4px;
      color: #333333;
      outline: none;
      transition: border-color 0.3s, box-shadow 0.3s;
      span {
        min-width: 50px;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #bbb;
      }
    }
  }

  .address_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    p {
      width: 300px;
    }
    p:first-child {
      margin-top: 20px;
    }
    label {
      margin: 0;
    }
  }

  .predifined_information {
    margin-top: 20px;
    background: #bbb;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.5;
  }

  .beautiful_textarea {
    min-width: 300px;
    min-height: 100px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid $btn-color;
    border-radius: 5px;
    outline: none;
    resize: vertical;
    transition: border-color 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;

    &:focus {
      border-color: $color-navbar;
      box-shadow: 0 0 10px rgba(0, 150, 136, 0.1);
    }
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #bbb;
    }

    &:disabled {
      background-color: $grey-one;
      border-color: $grey-three;
    }
  }

  .custom_selector {
    min-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $btn-color;
    border-radius: 5px;
    outline: none;
    resize: vertical;
    transition: border-color 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;

    &:focus {
      border-color: $color-navbar;
      box-shadow: 0 0 10px rgba(0, 150, 136, 0.1);
    }
  }

  .err-message {
    color: lightcoral;
  }

  .nav_link {
    color: $color-title;
    text-decoration: underline;
    margin-top: 20px;
  }
}
