@import "./mixins";
@import "./vars";

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #708090;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
  margin: auto;
  margin-bottom: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include desktop() {
  .loading-container {
    font-size: 24px;
    margin: 10px auto 0 auto;
  }
}
